{% extends "base.html" %}
{% block content %}
<div class="index_page">
    <div class="navbar navbar-defauly navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="buttom" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
            </div>
        </div>
    </div>
    <p class="center">
        <h1>Hello, my name is John Karas Murphy but everyone calls me Jack.</h1>
        <div class="home_image">
            <img src="../static/images/image.jpg" class="img-rounded" alt="photo" width="250" height="250">
        </div>
    </p>

</div>


{% endblock %}